@import "./index.css";
.App {
  text-align: center;
}

/*-----------------------------------------------------------X------fonts------X--------------------------------------------------------------------------------*/

.zcool-kuaile-regular {
  font-family: "ZCOOL KuaiLe";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

.shojumaru-regular {
  font-family: "Shojumaru", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

.poppins {
  font-family: "Poppins";
  font-style: normal;
}
/*-----------------------------------------------------------X------bg------X--------------------------------------------------------------------------------*/
.top-bg {
  background-image: url("./assets/top-bg.svg");
}
.ido-bg {
  background-image: url("./assets/ido-bg.svg");
}

.tokenomics-bg {
  background-image: url("./assets/tokenomics-bg.svg");
}

.roadmap-bg {
  background-image: url("./assets/roadmap-bg.svg");
}

.phase-img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

/*--------------------------------------------------------X-----animation-----X--------------------------------------------------------------------------------*/

@keyframes moveRight {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

.right-move {
  animation: moveRight 2s ease-in-out;
}

@keyframes moveLeft {
  0% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0%);
  }
}

.left-move {
  animation: moveLeft 2s ease-in-out;
}

@keyframes floatAnimationLogo {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}

.float {
  animation: floatAnimationLogo 3s infinite alternate;
}
