@import "./index.css";
.App {
  text-align: center;
}

.top-bg {
  background-image: url("./assets/top-bg.svg");
}

.zcool-kuaile-regular {
  font-family: "ZCOOL KuaiLe";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

.shojumaru-regular {
  font-family: "Shojumaru", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

.ido-bg {
  background-image: url("./assets/ido-bg.svg");
}

.tokenomics-bg {
  background-image: url("./assets/tokenomics-bg.svg");
}

.roadmap-bg {
  background-image: url("./assets/roadmap-bg.svg");
}

.poppins {
  font-family: "Poppins";
  font-style: normal;
}
